<!DOCTYPE html>
<html>
  <head>
    <title>What's my IRIS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <div class="block-container">
        <h1><%= date %></h1>
        <p>Welcome to What's my IRIS</p>
      </div>
    </main>
  </body>
</html>
