//color variables
$bg-body: #F5F6FA;
$bg-date-headers: #F8F9FD;
$bg-containers: #FFFFFF;
$text-color: #17242A;
$event-01: #5AAE75;
$event-01-light: #5AAE758C;
$event-02: #7A4FDC;
$event-02-light: #7A4FDC8C;
$event-03: #30B4E3;
$event-03-light: #30B4E38C;