/*---------IMPORTS---------*/

@import "colors";

/*---------GENERALS---------*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: $bg-body;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100% - 2rem);
    margin: 0 !important;
    padding: 2rem 0 0 0 !important;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: calc(100% - 5rem);
    background-color: $bg-containers;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
}

#calendar {
    width: 100%;
    height: calc(100% - 3.5rem);
}

/*---------LOADING SCREEN---------*/

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $bg-body;
    transition: ease-in-out;
}

#loading-screen__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    animation: fade-in-pop 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#loading-screen__frontimage {
    position: absolute;
    animation: fade-in-pop .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#loading-screen__backimage {
    animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*---------SIDE CONTROL---------*/

.team-select__container {
    display: flex;
    align-items: center;
    gap: 1rem;

}

/*---------DATE CONTAINER---------*/

/*---------EVENT CONTAINER---------*/

.team-BTS1 {
    background-color: $BTS1 !important;
}

.team-BTS2-SLAM {
    background-color: $BTS2-SLAM !important;
}

.team-BTS2-SISR {
    background-color: $BTS2-SISR !important;
}

#event-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    transition: ease-in-out;
    backdrop-filter: blur(5px);

    #event-popup__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-body;
        height: fit-content;
        width: fit-content;
        border-radius: 1rem;
        animation: fade-in-pop 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        padding: 2rem;
        border: #545454 solid .3rem;
    }
}

/*---------ANIMATIONS---------*/

//back image fades in
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//image has the good height but spreads in width
@keyframes fade-in-pop {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*---------RESPONSIVE---------*/

@media screen and (max-width: 650px) {
    //TODO: Side container should be hidden on mobile

}